@import url('https://fonts.googleapis.com/css2?family=Rajdhani:wght@400;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
}

html {
    max-width: 1000px;
    font-family: 'Rajdhani', sans-serif;
}

#header,
#resumeGrid {
    margin-top: 30px;
}

#header::before {
    content: "";
    position: absolute;
    z-index: -1;
    top: 0px;
    left: 0;
    width: 100%;
    height: 120px;
    background-image: linear-gradient(grey, lightgrey);
    opacity: 50%;
}

#header {
    width: 100%;
    position: relative;
}

#headarticle {
    width: 100%;
}

#headshot {
    border-radius: 50%;
    width: 150px;
    margin: 0 auto;
    position: absolute;
    top: 30px;
    right: 50px;
}

h1 {
    font-size: 42px;
    font-weight: 400;
    letter-spacing: 15px;
    padding: 20px 0px 0px 30px;
}

h3 {
    font-weight: 600;
    letter-spacing: 10px;
    padding-left: 30px;
}

h2 {
    font-weight: 600;
    letter-spacing: 5px;
    padding-bottom: 20px;
}

section {
    line-height: 1.75em;
    padding: 30px 0px;
}

ul {
    padding: 0px 20px;
}

#resumeGrid {
    width: 93%;
    display: grid;
    grid-template-columns: 40% 60%;
    grid-template-rows: 1fr 2fr 2fr;
    padding: 30px;
    margin-top: 60px;
}

#contact {
    border-right: 1px solid black;
    border-bottom: 1px solid black;
    padding-top: 0px;
}

#profile {
    border-left: 1px solid black;
    border-bottom: 1px solid black;
    padding-top: 0px;
    padding-left: 30px;
}

#skills {
    border-top: 1px solid black;
    border-right: 1px solid black;
    border-bottom: 1px solid black;
}

#experience {
    grid-column: 2/3;
    grid-row: 2/4;
    padding-left: 30px;
    border-left: 1px solid black;
    border-top: 1px solid black;
}