@import url('https://fonts.googleapis.com/css2?family=Rajdhani:wght@400;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
}

html {
    max-width: 1000px;
    font-family: 'Rajdhani', sans-serif;
}

#header::before {
    content: "";
    position: absolute;
    z-index: -1;
    top: 0px;
    left: 0;
    width: 100%;
    height: 120px;
    background-image: linear-gradient(grey, lightgrey);
    opacity: 50%;
}

#header {
    width: 100%;
    position: relative;
    margin-top: 30px;
}

#headarticle {
    width: 100%;
}

#headshot {
    border-radius: 50%;
    width: 150px;
    margin: 0 auto;
    position: absolute;
    top: 30px;
    right: 50px;
}

h1 {
    font-size: 42px;
    font-weight: 400;
    letter-spacing: 15px;
    padding: 20px 0px 0px 40px;
}

h3 {
    font-weight: 600;
    letter-spacing: 10px;
    padding-left: 40px;
}

h2 {
    font-weight: 600;
    letter-spacing: 5px;
    padding-bottom: 20px;
}

section {
    line-height: 1.75em;
}

i {
    margin-right: 10px;
}

span {
    height: 10px;
    width: 10px;
    background-color: white;
    border-radius: 50%;
    border: 1px solid grey;
    position: absolute;
    bottom: -6px;
    right: -6px;
    z-index: 1;
}

ul {
    padding: 0px 20px;
}

#resumeGrid {
    width: 90%;
    display: grid;
    grid-template-columns: 40% 60%;
    grid-template-rows: 1fr 2fr 1fr;
    margin: 60px 40px 20px 40px;
}

#contact {
    position: relative;
}

#profile {
    border-left: 1px solid grey;
    padding-left: 30px;
}

#skills {
    border-top: 1px solid grey;
    border-bottom: 1px solid grey;
    padding-top: 30px;
    position: relative;
}

#experience {
    border-left: 1px solid grey;
    border-top: 1px solid grey;
    padding-top: 30px;
    padding-left: 30px;
}

#education {
    border-right: 1px solid grey;
    padding-top: 30px;
}
@media (max-width: 725px) {
    #headshot {
        position: static;
        display: block;
        margin: 30px auto 0px auto;
}

@media (max-width: 576px) {

    span {
        display: none;
    }

    #resumeGrid {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
        margin: 60px 20px 20px 20px;
    }

    #contact,
    #profile,
    #skills,
    #experience,
    #education
     {  text-align: center;
        border: none;
        padding: 20px 0px;
    }

    ul {
        display: table;
        margin: 0 auto;
    }
}